@import './variables.scss';

body {
    margin: 0;
    font-family: $font-secondary;
    font-weight: 300;
    line-height: 1.5;
    color: $txt-color;
    background: #fff;
}

main,
article,
section {
    display: block;
}

img {
    max-width: 100%;
}

p {
    margin: .3rem 0 .5rem;

    &:last-child {
        margin-bottom: 0;
    }
}

a {
    color: $txt-secondary-accent-color;

    &:hover {
        text-decoration: none;
    }
}

.h1 {
    margin: 0;
    font-family: $font-primary;
    font-size: $font-40px;
    font-weight: 400;
    line-height: 1;

    &__accent {
        color: $txt-primary-accent-color;
    }

    &__subheader {
        font-size: $font-20px;
    }
}

.h2 {
    margin: 0 0 2rem;
    font-family: $font-primary;
    font-size: $font-28px;
    font-weight: 400;
    line-height: 1;
    color: $txt-primary-accent-color;
}

.h3 {
    margin: 0;
    font-family: $font-primary;
    font-size: $font-20px;
    font-weight: 400;

    &_accent {
        color: $txt-secondary-accent-color;
    }
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4rem;
}

.header {
    padding: 4rem;
    text-align: center;
    border-bottom: $border;
}

.footer {
    padding: 3rem;
    font-size: $font-14px;
    text-align: center;
    border-top: $border;
}

.content {
    padding: 2rem;
    border-bottom: $border;
    
    &:last-child {
        border-bottom: 0;
    }

    &__item {
        margin-bottom: 2rem;
    }
}

.row {
    display: flex;

    &_wrap {
        flex-wrap: wrap;
    }

    .col {
        &:nth-child(2) {
            border-left: $border;
        }

        &_wide {
            width: 65%;
        }

        &_tiny {
            width: 35%;
        }
    }
}

.tag {
    display: flex;
    align-items: center;
    height: 1rem;
    margin: 0 .5rem .5rem 0;
    padding: .25rem .5rem;
    font-size: $font-14px;
    line-height: 1;
    color: #fff;
    border-radius: 1rem;

    &_primary {
        background: $background-active;
    }

    &_secondary {
        background: $background-passive;
    }
}

.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:  .5rem;
    font-family: $font-primary;

    &__name {
        width: 30%;
        margin-right: .5rem;
        white-space: nowrap;
    }

    &__level {
        position: relative;
        width: 70%;
        height: .8rem;
        border-radius: .5rem;
        background: $background-passive;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: $background-active;
            border-radius: .5rem;
        }

        &_95:before {
            width: 95%;
        }

        &_90:before {
            width: 90%;
        }

        &_70:before {
            width: 70%;
        }

        &_60:before {
            width: 60%;
        }

        &_40:before {
            width: 40%;
        }
    }
}

.hobby {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &__item {
        width: 4.5rem;
        height: 4.5rem;
    }
}

.contact {
    display: flex;
    align-items: center;
    margin-bottom: .8rem;

    &:before {
        content: '';
        width: 1.7rem;
        height: 1.7rem;
        margin-right: 1rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &_location:before {
        background-image: url('./images/pin.svg');
    }

    &_email:before {
        background-image: url('./images/mail.svg');
    }

    &_github:before {
        background-image: url('./images/github.svg');
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 14px;
    }

    .wrapper {
        padding: 0 2rem;
    }

    .content:last-child {
        border-bottom: none;
    }

    .row:not(.row_wrap) {
        flex-direction: column;

        .col {
            &_wide,
            &_tiny {
                width: 100%;
            }

            &_tiny {
                display: flex;
                flex-direction: column;
            }

            &:first-child {
                border-bottom: $border;
            }

            &:nth-child(2) {
                border-left: none;
            }
        }
    }

    .contacts {
        order: 1;
        border-top: $border;
        border-bottom: none;
    }
}
