// Общие переменные
// ==================================================
$font-primary: 'Arsenal', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$orange: #f7a12b;
$green: #a7c721;
$blue: #3db1ef;

$font-40px: 2.5rem;
$font-28px: 1.75rem;
$font-20px: 1.25rem;
$font-14px: .875rem;

$txt-color: #121212;
$txt-primary-accent-color: $green;
$txt-secondary-accent-color: $blue;
$border-color: $blue;
$background-passive: $orange;
$background-active: $green;

$border: 1px solid $border-color;


